body {
  background-color: palegreen;
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
  font-family: "Courier New", Courier, monospace;
}
div {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
}
h1 {
  padding: 20px 20px;
  background-color: seagreen;
  color: purple;
  border-radius: 20px;
}
span {
  color: purple;
}
